//
   Created by renjm on 17/2/18.

doctype html
html
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Jim-Black
      link(href='/css/bootstrap.min.css', rel='stylesheet')
      link(href='/css/datepicker3.css', rel='stylesheet')
      link(href='/css/styles.css', rel='stylesheet')
   body
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
         .container-fluid
            .navbar-header
               button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#sidebar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.navbar-brand(href='#')
                  span Jim
                  | Black
               ul.user-menu
                  li.dropdown.pull-right
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                        span.glyphicon.glyphicon-user
                        span(id="user_name")
                        span.caret
                     ul.dropdown-menu(role='menu')
                        li
                           a(href='#')
                              span.glyphicon.glyphicon-user
                              |  Profile
                        li
                           a(href='#')
                              span.glyphicon.glyphicon-cog
                              |  Settings
                        li
                           a(id='user_logout')
                              span.glyphicon.glyphicon-log-out
                              |  Logout
      #sidebar-collapse.col-sm-3.col-lg-2.sidebar
         form(role='search')
            .form-group
               input.form-control(type='text', placeholder='Search')
         ul.nav.menu
            li.active
               a(href='dashboard')
                  span.glyphicon.glyphicon-dashboard
                  |  Dashboard
            li
               a(href='chart')
                  span.glyphicon.glyphicon-stats
                  |  Charts
            li
               a(href='to_do_list')
                  span.glyphicon.glyphicon-list-alt
                  |  List
            li.divider(role='presentation')
      .col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main
         .row
            ol.breadcrumb
               li
                  a(href='#')
                     span.glyphicon.glyphicon-home
               li.active Dashboard
         // /.row
         .row
            .col-lg-12
               h1.page-header Dashboard
         // /.row
         // ><div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
         .row
            .col-xs-12.col-md-6.col-lg-3
               .panel.panel-blue.panel-widget
                  .row.no-padding
                     .col-sm-3.col-lg-5.widget-left
                        em.glyphicon.glyphicon-map-marker.glyphicon-l
                     .col-sm-9.col-lg-7.widget-right
                        .large 120
                        .text-muted Map
            .col-xs-12.col-md-6.col-lg-3
               .panel.panel-orange.panel-widget
                  .row.no-padding
                     .col-sm-3.col-lg-5.widget-left
                        em.glyphicon.glyphicon-list-alt.glyphicon-l
                     .col-sm-9.col-lg-7.widget-right
                        .large 52
                        .text-muted News
            .col-xs-12.col-md-6.col-lg-3
               .panel.panel-teal.panel-widget
                  .row.no-padding
                     .col-sm-3.col-lg-5.widget-left
                        em.glyphicon.glyphicon-tasks.glyphicon-l
                     .col-sm-9.col-lg-7.widget-right
                        .large 24
                        .text-muted Task
            .col-xs-12.col-md-6.col-lg-3
               .panel.panel-red.panel-widget
                  .row.no-padding
                     .col-sm-3.col-lg-5.widget-left
                        em.glyphicon.glyphicon-leaf.glyphicon-l
                     .col-sm-9.col-lg-7.widget-right
                        .large 25.2k
                        .text-muted Health
         // /.row
         .row
            .col-lg-12
               .panel.panel-default
                  .panel-heading Site Traffic Overview
                  .panel-body
                     .canvas-wrapper
                        canvas#line-chart.main-chart(height='200', width='600')
         // /.row
         //.row
         //   .col-xs-6.col-md-3
         //      .panel.panel-default
         //         .panel-body.easypiechart-panel
         //            h4 New Orders
         //            #easypiechart-blue.easypiechart(data-percent='92')
         //               span.percent 92%
         //   .col-xs-6.col-md-3
         //      .panel.panel-default
         //         .panel-body.easypiechart-panel
         //            h4 Comments
         //            #easypiechart-orange.easypiechart(data-percent='65')
         //               span.percent 65%
         //   .col-xs-6.col-md-3
         //      .panel.panel-default
         //         .panel-body.easypiechart-panel
         //            h4 New Users
         //            #easypiechart-teal.easypiechart(data-percent='56')
         //               span.percent 56%
         //   .col-xs-6.col-md-3
         //      .panel.panel-default
         //         .panel-body.easypiechart-panel
         //            h4 Visitors
         //            #easypiechart-red.easypiechart(data-percent='27')
         //               span.percent 27%
         // /.row
         .row
            .col-md-8
               .panel.panel-default.chat
                  #accordion.panel-heading
                     span.glyphicon.glyphicon-comment
                     |  Chat
                  .panel-body
                     ul
                        li.left.clearfix
                           span.chat-img.pull-left
                              img.img-circle(src='http://placehold.it/80/30a5ff/fff', alt='User Avatar')
                           .chat-body.clearfix
                              .header
                                 strong.primary-font John Doe
                                 small.text-muted 32 mins ago
                              p
                                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.
                        li.right.clearfix
                           span.chat-img.pull-right
                              img.img-circle(src='http://placehold.it/80/dde0e6/5f6468', alt='User Avatar')
                           .chat-body.clearfix
                              .header
                                 strong.pull-left.primary-font Jane Doe
                                 small.text-muted 6 mins ago
                              p
                                 | Mauris dignissim porta enim, sed commodo sem blandit non. Ut scelerisque sapien eu mauris faucibus ultrices. Nulla ac odio nisl. Proin est metus, interdum scelerisque quam eu, eleifend pretium nunc. Suspendisse finibus auctor lectus, eu interdum sapien.
                        li.left.clearfix
                           span.chat-img.pull-left
                              img.img-circle(src='http://placehold.it/80/30a5ff/fff', alt='User Avatar')
                           .chat-body.clearfix
                              .header
                                 strong.primary-font John Doe
                                 small.text-muted 32 mins ago
                              p
                                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut ullamcorper sed, dapibus ac nunc. Vivamus luctus convallis mauris, eu gravida tortor aliquam ultricies.
                  .panel-footer
                     .input-group
                        input#btn-input.form-control.input-md(type='text', placeholder='Type your message here...')
                        span.input-group-btn
                           button#btn-chat.btn.btn-success.btn-md Send
            .col-md-4
               .panel.panel-blue
                  .panel-heading.dark-overlay
                     span.glyphicon.glyphicon-check
                     | To-do List
                  .panel-body
                     ul.todo-list
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Make a plan for today
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Update Basecamp
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Send email to Jane
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Drink coffee
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Do some work
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                        li.todo-list-item
                           .checkbox
                              input#checkbox(type='checkbox')
                              label(for='checkbox') Tidy up workspace
                           .pull-right.action-buttons
                              a(href='#')
                                 span.glyphicon.glyphicon-pencil
                              a.flag(href='#')
                                 span.glyphicon.glyphicon-flag
                              a.trash(href='#')
                                 span.glyphicon.glyphicon-trash
                  .panel-footer
                     .input-group
                        input#btn-input.form-control.input-md(type='text', placeholder='Add new task')
                        span.input-group-btn
                           button#btn-todo.btn.btn-primary.btn-md Add
      script(src='/js/jquery-1.11.1.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/chart.min.js')
      script(src='/js/chart-data.js')
      script(src='/js/easypiechart.js')
      script(src='/js/easypiechart-data.js')
      script(src='/js/bootstrap-datepicker.js')
      script
         include dash_board.js
      script.
         !function ($) {
            $(document).on("click","ul.nav li.parent > a > span.icon", function(){
               $(this).find('em:first').toggleClass("glyphicon-minus");
            });
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
         }(window.jQuery);
         $(window).on('resize', function () {
            if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
         })
         $(window).on('resize', function () {
            if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
         })
