extends layout

block content
  h1= title
  a(href='login', target='_blank', title='about-page') about
  p.test show message test
  p.hello hello world #{name}
  p Welcome to #{title}
  img(id='qr_code' src="/getcode")
  script
    include map.js