doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tSq8bTr70G62ozKhlLp2atbCG51UDZav")
  body
    block content
