//Created by renjm on 17/2/17.
doctype html
html
    head
        title Login
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
        meta(name='keywords', content='Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates')
        link(href='/stylesheets/login.css', rel='stylesheet', type='text/css')
        link(href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.useso.com/css?family=Exo+2', rel='stylesheet', type='text/css')
        script(src='http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    body
        script.
            $(document).ready(function(c) {
                $('.close').on('click', function(c){
                    $('.login-form').fadeOut('slow', function(c){
                        $('.login-form').remove();
                    });
                });
                $('.signup').on('click', function(c){
                    window.location.href = "sign_up";
                });

            });
        script
            include logining.js
        h1 login
        .login-form
            .close
            .head-info
                label.lbl-1
                label.lbl-2
                label.lbl-3
            .clear
            .avtar
                img(src='images/avtar.png')
            form
                input.text(type='text', value='Username', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Username';}")
                .key
                    input(type='password', value='Password', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Password';}")
            .signin
                input(type='submit', value='Login')
            .signup
                button(type='button',value='SignUp') SignUp
        .copy-rights
            p
                | Copyright © 2016.Company name All rights RenJianMin
                a(href='', target='_blank', title='about-page') about
                | If you want to get help ,click here
                a(href='', title='help-page', target='_blank') help
